body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1396px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:89px;
  width:1366px;
  height:1363px;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:94px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:94px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:38px;
  width:135px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:94px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:0px;
  width:494px;
  height:94px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:38px;
  width:462px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:94px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:0px;
  width:124px;
  height:94px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:38px;
  width:92px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:94px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:0px;
  width:101px;
  height:94px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:38px;
  width:69px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:94px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:0px;
  width:480px;
  height:94px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:38px;
  width:448px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:202px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:167px;
  height:202px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:92px;
  width:135px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:202px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:94px;
  width:494px;
  height:202px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:47px;
  width:462px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:202px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:94px;
  width:124px;
  height:202px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:83px;
  width:92px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:202px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:94px;
  width:101px;
  height:202px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:92px;
  width:69px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:202px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:94px;
  width:480px;
  height:202px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:202px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:296px;
  width:167px;
  height:202px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:92px;
  width:135px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:202px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:296px;
  width:494px;
  height:202px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:65px;
  width:462px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:202px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:296px;
  width:124px;
  height:202px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:83px;
  width:92px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:202px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:296px;
  width:101px;
  height:202px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:92px;
  width:69px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:202px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:296px;
  width:480px;
  height:202px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:92px;
  width:448px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:220px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:498px;
  width:167px;
  height:220px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:101px;
  width:135px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:220px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:498px;
  width:494px;
  height:220px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:29px;
  width:462px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:220px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:498px;
  width:124px;
  height:220px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:18px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:92px;
  width:92px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:220px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:498px;
  width:101px;
  height:220px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:18px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:101px;
  width:69px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:220px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:498px;
  width:480px;
  height:220px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:168px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:718px;
  width:167px;
  height:168px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:75px;
  width:135px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:168px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:718px;
  width:494px;
  height:168px;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:48px;
  width:462px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:168px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:718px;
  width:124px;
  height:168px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:18px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:57px;
  width:92px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:168px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:718px;
  width:101px;
  height:168px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:18px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:75px;
  width:69px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:168px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:718px;
  width:480px;
  height:168px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:30px;
  width:448px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:130px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:886px;
  width:167px;
  height:130px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:56px;
  width:135px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:130px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:886px;
  width:494px;
  height:130px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:11px;
  width:462px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:130px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:886px;
  width:124px;
  height:130px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:18px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:56px;
  width:92px;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:130px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:886px;
  width:101px;
  height:130px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:18px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:56px;
  width:69px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:130px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:886px;
  width:480px;
  height:130px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:166px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1016px;
  width:167px;
  height:166px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:74px;
  width:135px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:166px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:1016px;
  width:494px;
  height:166px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:20px;
  width:462px;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:166px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:1016px;
  width:124px;
  height:166px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:18px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:74px;
  width:92px;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:166px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:1016px;
  width:101px;
  height:166px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:18px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:74px;
  width:69px;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:166px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:1016px;
  width:480px;
  height:166px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:181px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1182px;
  width:167px;
  height:181px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:181px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:1182px;
  width:494px;
  height:181px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:181px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:1182px;
  width:124px;
  height:181px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  text-align:left;
  line-height:18px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:181px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:1182px;
  width:101px;
  height:181px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#989898;
  text-align:left;
  line-height:18px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:181px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:1182px;
  width:480px;
  height:181px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#666666;
  line-height:18px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:29px;
  width:211px;
  height:30px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#666666;
  line-height:18px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:2px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:69px;
  width:1366px;
  height:1px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
